/* Universal */

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, sans-serif;
  background-color: black;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

/* Header */

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tea-cozy-logo {
  height: 50px;
  margin: 5px 10px;
}

/* Nav */

#nav-links {
  display: flex;
  list-style: none;
}

#nav-links li {
  margin: 0 20px;
}

#nav-links a {
  color: seashell;
}
