/* Universal */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  font-size: 22px;
  color: seashell;
  text-align: center;
  opacity: 0.9;
}

/* Header */

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tea-cozy-logo {
  height: 50px;
  margin: 5px 10px;
}

/* Nav */

#nav-links {
  display: flex;
  list-style: none;
}

#nav-links li {
  margin: 0 20px;
}

#nav-links a {
  color: seashell;
}

/* Main */

main {
  margin-top: 69px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Mission */

#mission {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
}

#mission-statement {
  background-color: black;
  width: 100%;
  padding: 10px;
}

#mission-statement h2,
#featured-tea h2 {
  margin-bottom: 20px;
}

/* Featured Tea */

#featured-tea {
  margin: 40px auto;
  max-width: 1000px;
}

#tea-pics {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}

.tea img {
  margin: 10px;
}

.tea img {
  height: 200px;
  width: 300px;
}

/* Locations */

#locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-position: center;
}

#locations h2 {
  margin-bottom: 15px;
}

#locations article {
  display: flex;
  justify-content: center;
}

.location {
  background-color: black;
  width: 300px;
  margin-right: 40px;
  padding: 15px;
}

.location:last-child {
  margin-right: 0;
}

.location h3,
.location p {
  margin-bottom: 40px;
}

/* Footer */

#contact-info {
  height: 200px;
  margin-top: 40px;
}

#copyright {
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: left;
}
